{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="tasks") %}
{% end %}

{% block container %}
  <div id='task-page' class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
          <p id="taskid" class="hidden">{{ task.uuid }}</p>
          <h2>{{ getattr(task, 'name', None) }}
            <small>{{ task.uuid }}</small>

          </h2>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <table class="table table-bordered table-striped">
              <caption>任务基本信息</caption>
              <tbody>
              <tr>
                <td>任务名称</td>
                <td>{{ getattr(task, 'name', None) }}</td>
              </tr>
              <tr>
                <td>任务唯一ID</td>
                <td>{{ task.uuid }}</td>
              </tr>
              <tr>
                <td>任务状态</td>
                <td>
                  {% if task.state == "SUCCESS" %}
                  <span class="label label-success">{{ task.state }}</span>
                  {% elif task.state == "FAILURE" %}
                  <span class="label label-important">{{ task.state }}</span>
                  {% else %}
                  <span class="label label-default">{{ task.state }}</span>
                  {% end %}
                </td>
              </tr>
              <tr>
                <td>任务元组参数</td>
                <td>{{ task.args }}</td>
              </tr>
              <tr>
                <td>任务字典参数</td>
                <td>{{ task.kwargs }}</td>
              </tr>
              <tr>
                <td>任务结果</td>
                {% if task.state == "SUCCESS" %}
                <td><a href="/display?index=1&task_id={{ task.uuid }}">{{ getattr(task, 'result', '') }}</a></td>
                  {% else %}
                  <td>{{ getattr(task, 'result', '') }}></td>
                  {% end %}
              </tr>
              </tbody>
            </table>
          </div>




          <div class="span6">
            <table class="table table-bordered table-striped">
              <caption>任务执行相关信息</caption>
              <tbody>
              {% for name in task._fields %}
                {% if name in ['received', 'retries', 'started', 'succeeded', 'worker', 'retried', 'traceback','failed', 'exception', 'runtime'] and getattr(task, name, None) is not None %}
                <tr>
                  {% if name == "received" %}
                  <td class="{{ name }}">接收任务时间</td>

                  {% elif name == "started" %}
                  <td class="{{ name }}">任务开始执行时间</td>
                  {% elif name == "succeeded" %}
                  <td class="{{ name }}">任务执行成功反馈时间</td>

                  {% elif name == "failed" %}
                  <td class="{{ name }}">任务失败反馈时间</td>
                  {% elif name == "traceback" %}
                  <td class="{{ name }}">任务失败反馈信息</td>
                  {% elif name == "runtime" %}
                  <td class="{{ name }}">任务运行时间</td>
                  {% elif name == "exception" %}
                  <td class="{{ name }}">任务失败原因</td>
                  {% elif name == "worker" %}
                  <td class="{{ name }}">执行任务的消费者</td>
                  {% end %}
                  <td>
                    {% if name in ['received', 'started', 'succeeded', 'failed'] %}
                    {{ humanize(getattr(task, name, None), type='time') }}
                    {% elif name == 'worker' %}
                    <a
                        href="{{ reverse_url('worker', task.worker.hostname) }}">{{ task.worker.hostname }}</a>
                    {% elif name in ['traceback','exception'] %}
                    <pre>{{ getattr(task, name, None) }}</pre>
                    {% elif name in ['runtime'] %}
                      {{ getattr(task, name, None) }}
                    {% end %}
                  </td>
                </tr>
                {% end %}
              {% end %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% end %}
