{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="tasks") %}
{% end %}


{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<input type="hidden" value="{{ columns }}" id='columns'>

<div class="container-fluid">

  <table id="tasks-table" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>任务名称</th>
      <th>任务唯一ID</th>
      <th>任务状态</th>
      <th>任务元组参数</th>
      <th>任务字典参数</th>
      <th>任务结果</th>
      <th>消费者接收任务时间</th>
      <th>消费者开始执行任务时间</th>
      <th>任务执行成功时间</th>
      <th>消费者名称</th>

    </tr>
    </thead>
    <tbody>
    {% for uuid, task in tasks %}
    {{ task }}
        {% if getattr(task, 'name', None) is None %}
            {% continue %}
        {% end %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.uuid }}</td>
      <td>{{ task.state }}</td>
      <td>{{ task.args }}</td>
      <td>{{ task.kwargs }}</td>
      <td>
        {% if task.state == "SUCCESS" %}
            {{ task.result[:20] }}
        {% elif task.state == "FAILURE" %}
            {{ task.exception[:20] }}
        {% end %}
      </td>
      <td>{{ humanize(task.received, type='time') }}</td>
      <td>{{ humanize(task.started, type='time') }}</td>
      <td>
        {% if task.timestamp and task.started %}
            {{ '%.2f' % humanize(task.timestamp - task.started) }} sec
        {% end %}
      </td>

    </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}
