{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="broker") %}
{% end %}

{% block container %}
  <div class="container-fluid">
    <div class="page-header">
        <h3><small>消息中间件地址:</small> {{ broker_url }}</h3>
    </div>

    <table id="queue-table" class="table table-bordered table-striped">
      <caption>消息中间件队列信息</caption>
      <thead>
        <tr>
            <th>队列名称</th>
            <th>当前队列所有任务数目</th>
            <th>未分发任务数目</th>
            <th>准备分发任务数目</th>
            <th>消费者数目</th>
            <th>队列上一次空闲时间</th>
        </tr>
      </thead>
      <tbody>
      {% for queue in queues %}
        <tr id="{{ url_escape(queue['name']) }}">
            <td>{{ queue['name'] }}</td>
            <td>{{ queue.get('messages', 'N/A') }}</td>
            <td>{{ queue.get('messages_unacknowledged', 'N/A') }}</td>
            <td>{{ queue.get('messages_ready', 'N/A') }}</td>
            <td>{{ queue.get('consumers', 'N/A') }}</td>
            <td>{{ queue.get('idle_since', 'N/A') }}</td>
        </tr>
      {% end %}
      </tbody>
     </table>

</div>
{% end %}
