{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="workers") %}
{% end %}

{% block container %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="page-header">
                <h2 id="workername">消费者:{{ worker['name'] }}</h2>
        </div>

    </div>

        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-pool" data-toggle="tab">消费者并发池配置信息</a></li>
            <li><a href="#tab-broker" data-toggle="tab">消息中间件信息</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab-pool">

              <div class="row-fluid">
                <div class="span6">
                  <table class="table table-bordered table-striped">
                    <caption>消费者并发池配置信息</caption>
                    <tbody>
                      {% for name,value in worker['stats']['pool'].items() %}
                        <tr>

                            {% if "concurrency" in name %}
                            <td>最大并发数</td>
                            {% else %}
                            {% continue %}
                            {% end %}

                          <td>{{ humanize(value) }}</td>
                        </tr>
                      {% end %}
                        <tr>
                            <td>消费者进程ID</td>
                            <td>{{ worker['stats'].get('pid', 'N/A')}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> <!-- end pool tab -->

            <div class="tab-pane" id="tab-broker">
              <div class="span6">
                <table class="table table-bordered table-striped">
                  <caption>消息中间件信息</caption>
                  <tbody>
                    {% for name,value in (worker['stats'].get('consumer', None) or worker['stats'])['broker'].items() %}
                      <tr>
                        <td>{{ humanize(name) }}</td>
                        <td>{{ value }}</td>
                      </tr>
                    {% end %}
                  </tbody>
                </table>
              </div>
            </div> <!-- end broker tab -->

          </div> <!-- end system tab -->

         </div>
        </div>
      </div>
  </div>
  </div>
{% end %}
